[lab]
name = frame-collisions-pattern
modules = imodule
devices = covert_sender,covert_receiver,victim
scripts = workstations/covert_sender/start_sender.sh;workstations/covert_receiver/monitor_channel.sh;workstations/victim/normal_traffic.sh
[checks]
checktests = checks/check1.sh;checks/check2.sh;checks/check3.sh;checks/check4.sh;checks/check5.sh
